#description::before {
  content: "";
  animation: Animate 5s infinite;
}

@keyframes Animate {
  0% {
    content: "ML Enthusiast";
  }
  33% {
    content: "ML Enthusiast";
  }
  66% {
    content: "Programmer";
  }
  100% {
    content: "Developer";
  }
}

.masthead {
  background-attachment: fixed;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); {
}

